<div>

  <ng-container *ngIf="days.length > 0">
    <ul>
      <ng-container *ngFor="let day of days; let e = even">
        <li *ngIf="e">
          {{ day }}
        </li>
      </ng-container>
    </ul>
  </ng-container>


  <ng-container *ngIf="dogs.length > 0; then areDogs; else noDogs"></ng-container>

  <ng-template #areDogs>
    <ul>
      <li *ngFor="let dog of dogs; let i = index">
        {{ dog.name ? dog.name : "Reksio" }}
        {{ i }} - {{ dog.name }} {{ dog.age }}
      </li>
    </ul>
  </ng-template>

  <ng-template #noDogs>
    <p>0 dogs</p>
  </ng-template>


  <button (click)="addDogs()" >Add</button>
  <button (click)="removeDogs()" >Remove</button>

</div>